body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main-container {
	margin-top: 60px;
}

.validation-error {
	font-size: 10px;
	color: red;
}

.payments-table {
	font-size: 12px;
}


/* PAYMENTS TABLE  */
.payments-container-div {
	font-size: 12px;
}

.row-cell {
	display: inline-block;
	float: left;
	padding: 6px;
	width: 11%;
	word-wrap: break-word;
}

.row-cell input {
	font-size: 12px;
}

.row-cell .btn {
	font-size: 12px;
}

.row-cell.large {
	width: 17%;
}

.row-cell.small {
	width: 6%;
}

.row-div {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(0,0,0,.125);
	overflow: hidden;
}

.header-div {
	font-weight: bold;
}

/* PAYMENTS TABLE END */

/* DATEPICKER */
.DayPickerInput input {
	border: 1px solid #ced4da;
	border-radius: .2rem;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
}
/* DATEPICKER END */

#filter-payments-form, #filter-recipients-form {
	margin-top: 20px;
	margin-bottom: 20px;
}
#filter-payments-form input, #filter-recipients-form input {
	margin-right: 10px;
}

/* PAYMENT ISSUER */
.issuer-iban, .issuer-organization {
	color: #666666;
	font-size: 12px;
}
/* PAYMENT ISSUER END */

.pull-right {
	float: right;
}

.clickable, .clickable input {
	cursor: pointer;
}

.header-label {
	font-size: 12px;
	font-weight: bold;
}

.pagination {
	margin-top: 20px;
}